body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    color: white;
}
#top{
    position: static;
    width: 100%;
    height: 20vh;
    text-align: center;
}
#mid{
    position: static;
    width: 100%;
    height: 77vh;
}
#footer{
    position: static;
    text-align: right;
    height: 3vh;
    width: 100%;
    font-size: 10px;
}
.left-rightLogin{
    width: 35%;
    height: 60vh;
    float: left;
}
.left-rightHome{
    width: 15%;
    height: 60vh;
    float: left;
}
#midLogin{
    width: 30%;
    height: 60vh;
    float: left;
    box-shadow: inset 0 0 1em #348fab;
    margin: auto;
    text-align: center;
}
#midHome{
    width: 70%;
    height: 60vh;
    float: left;
    box-shadow: inset 0 0 1em #348fab;
}
input[type=submit] {
    background-color: #348fab;
    border: none;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 22px;
    font-weight: bold;
    width: 7em;
    height: 2em;
}
input[type=submit]:hover{
    background-color:#3a9fbf;
}
#loginF{
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
}
#aSign{
    font-size: 10px;
}
a{
    color: darkgrey;
}
a:link{
    text-decoration: none;
}
a:hover{
    color: #3a9fbf;
    text-decoration: none;
}
#welcomeUser{
    font-style: italic;
    font-size: 15px;
}
#headerUser{
    width: 25%;
    height: 5vh;
    float: right;
}