<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orgella - Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div id="navtop">
    <div class="navtopE">
        <form action="logout" id="formlog">
            <input type="submit" id="buttonsHome" value="LOG OUT" name="logout">
        </form>
    </div>
    <div class="navtopE">
        <form action="{{ url_for('createoffer') }}" id="formlog">
            <input type="submit" id="buttonsHome" value="CREATE OFFER" name="offer">
        </form>
    </div>
    <div class="navtopE">
        <section id="welcomeUser"><a href="{{ url_for("controlsite") }}">{{ username }}</a></section>
    </div>
    <div class="navtopE">
        <img src="{{url_for('static', filename='images/usericongrey.png')}}" alt="user_icon" width="17px" height="17px">
    </div>
    <div class="navtopE">
        <a href="{{ url_for('home')}}">Home</a>
    </div>
</div>
<div id="tophome">
    <div id="titleHome">Welcome to our website</div>
</div>
<div id="midC">
    <div class="left-rightHome"></div>
    <span id="midControl">
        <ul class="flex-container">
        {% for each in offer %}
            <li class="flex-itemC">{{ each.marka }} {{ each.model }} {{ each.rocznik }} <br>
                <span class="liControlL">Nr rejestracyjny:</span>
                <span class="liControlR">{{ each.nr_rejestracyjny }}</span> <br>
                <span class="liControlL">Przebieg:</span>
                <span class="liControlR">{{ each.przebieg }} km</span><br>
                <span class="liControlL">Pojemność:</span>
                <span class="liControlR">{{ each.pojemnosc_skokowa }} cm3</span> <br>
                <span class="liControlL">Kolor:</span>
                <span class="liControlR">{{ each.kolor }}</span><br>
                <span class="liControlL">Data wystwienia:</span>
                <span class="liControlR">{{ each.data_wystawienia }}</span><br>
                <span class="liControlL">Cena:</span>
                <span class="liControlR"><b>{{ each.cena }}</b> zł</span><br>
                <span class="liControlE">{{ each.imie }} {{ each.nr_tel }}</span><br><hr>
                <span class="liControlE">
                    <form action="deleteoffer" method="POST">
                        <input type="text" name="id_oferty" value="{{ each.id_oferty }}" hidden>
                        <input type="submit" class="buttonControl" value="DELETE">
                    </form>
                    <a href="{{ url_for('editoffer', id_oferty=each.id_oferty)}}">EDIT</a>
                </span>
            </li>
        {% endfor %}
        </ul>
    </span>
    <div class="left-right"></div>
</div>
<div id="footer">Website created by: s22615</div>
</body>
</html>