<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orgella - Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="top"></div>
    <div id="mid">
        <div class="left-rightLogin"></div>
        <div id="midLogin">
            <div id="loginF">
            <form method="POST">
                <label for="username">Login:</label><br>
                <input type="text" id="username" name="username"><br><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" value="Log in">
            </form>
                <br>
                <a href="{{ url_for('register') }}" id="aSign">"Don't have an account yet?  Sign Up"</a>
            </div>
        </div>
        <div class="left-right"></div>
    </div>
    <div id="footer">Website created by: s22615</div>
</body>
</html>